* {
    box-sizing: border-box;
  }

body {
    background-color: lavender;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navigation Bar start */
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: #4d4d4d;
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
  }
  
  .nav > .nav-header {
    display: inline;
    padding-bottom: 20px;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline;
    font-size: 28px;
    justify-content: center;
    color: lavender;
    padding: 0px 10px 13px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: flex;
    font-size: 22px;
    list-style: none;
  }
  
  .nav > .nav-links > .nav-item > a {
    display: flex;
    padding: 10px 10px 13px 10px;
    color: lavender;
    text-decoration: none;
  }
  
  .nav > .nav-links > .nav-item:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: flex;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: flex;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: flex;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: flex;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(60vh - 50px);
      width: 75vh;
      overflow-y: auto;
      text-align: right;
    }
  }
/* Navigation Bar end */

